<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  
	<title>FormHub | Dashboard</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
	<link href="/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
	<link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<link href="/assets/css/animate.min.css" rel="stylesheet" />
	<link href="/assets/css/style.min.css" rel="stylesheet" />
	<link href="/assets/css/style-responsive.min.css" rel="stylesheet" />
	<link href="/assets/css/theme/default.css" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->
	<link href="assets/plugins/parsley/src/parsley.css" rel="stylesheet">
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="assets/plugins/pace/pace.min.js"></script>

<link href="assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet">

<link href="assets/plugins/bootstrap-sweetalert/sweetalert.css" rel="stylesheet">
  
</head>
  <body>
  {{{ body }}}
  </body>
</html>

  <!-- ================== CUSTOM JS ================== -->
	<script src="assets/plugins/gritter/js/jquery.gritter.js"></script>
	<script src="assets/plugins/bootstrap-sweetalert/sweetalert.min.js"></script>
	<script src="assets/js/ui-modal-notification.demo.min.js"></script>
  <script src="/js/auth.js"></script>

  <!-- ================== CUSTOM FORM JS ================== -->
  {{!-- <script src="/js/form_patient_reg.js"></script>
  <script src="/js/form_consent.js"></script>
  <script src="/js/form_emergency.js"></script>
  <script src="/js/form_insurance.js"></script>
  <script src="/js/form_medical_history.js"></script> --}}


<script src="/js/formListener.js"></script>
