
<div class = "container">
	<div class = "containerHeader" > 
		<div class = "row">
			<div class = "col-xs-12 text-center" id= "contact"> 
			<h1 id= "mainHeader" > <strong>New Patient Registration</strong></h1>
			
			</div>
		</div>
	</div> <!--cont.1>-->
	
	<div class = "containerAddress" >
		   <fieldset>
                <legend id="address"> Please fill in the form below </legend>
                <div class="ptFullName">
                    <label class="fullNameLabel" for="FirstName">Full Name</label>
                    <div class="controls">
                        <input style="width: 20%" id="FirstName" name="FirstName" placeholder="Firstname" type="text" value="" />
                        <input style="width: 20%" id="MiddleName" name="MiddleName" placeholder="Middlename" type="text" value="" />
                        <input style="width: 20%" id="LastName" name="LastName" placeholder="Lastname" type="text" value="" />
                    </div>
                </div>
                <br />
                <div class="ptPhoneEmail">
                	
                	<input style="width: 20%" id="emPhoneNum" name="emPhone" placeholder="Phone Number" type="" value="" />
                	<label class="emPhoneNum" for="emPhoneNumber">Phone Number</label>
     
                    <input class="input-xxlarge" id="email" name="email" placeholder="email" type="text" value="" />
                    <label class="ptEmailLabel" for="Email">Email</label>
                   
                </div>
                <br />
              <!--   <div class="gender" id= "selectGender"> 
                	<label class= "ptGender" id="selectGender" for="ptGender"> Sex </label>
                	<br />
					<select class="ptGenderForm" style="width:150px">
					    <option value="">  </option>
			            <option value="Male"> Male </option>
			            <option value="Female"> Female </option>
			            <option value="N/A"> N/A </option>
					</select>
				</div>
				<br /> -->

				<!-- <div class = "dateOfBirth" >
					<label class= "dateOfBirth" id= "selectDateOfBirth" for="ptBirthDate"> Date of Birth </label>
					<br />
						<select style="width: 15%" class="ptBirthMonthForm" style="width:150px"> 
							<option value="">  </option>
							<option value="January"> January </option>
			                <option value="February"> February </option>
			                <option value="March"> March </option>
			                <option value="April"> April </option>
			                <option value="May"> May </option>
			                <option value="June"> June </option>
			                <option value="July"> July </option>
			                <option value="August"> August </option>
			                <option value="September"> September </option>
			                <option value="October"> October </option>
			                <option value="November"> November </option>
			                <option value="December"> December </option>
			             </select>
			             <label class= "birthMonth" id= "month" for="ptBirthDate"> Month </label>

						<select style="width: 15%" class="ptBirthDateForm" id = "day" style="width:150px">
							<script>
			                  var min = 1,
			                  max = 31,
			                  select = document.getElementById("day");

			                  for (var i = min; i<=max; i++){
			                     var opt = document.createElement('option');
			                     opt.value = i;
			                     opt.innerHTML = i;
			                     select.appendChild(opt);
			                  }
	              			</script>
						</select>
						<label class= "birthDay" id= "day" for="ptBirthDay"> Day </label>

						<select style="width: 15%" class="ptBirthYearForm" id ="year" style="width:150px">
							<script>
				                var min = 1920,
				                max = 2017,
				                select = document.getElementById("year");
				                 for (var i = min; i < max;  i++) {
				                   var opt =document.createElement  ("option");
				                   opt.value =i;
				                   opt.innerHTML = i;
				                   select.appendChild(opt);
				                 }
              				</script>

						</select>
						<label class= "birthYear" id= "year" for="ptBirthYear"> Year </label>
				<br />
 				<div class="ptHeight">
                    <label class="ptHeightLabel" for="Height">Height (inches) </label>
                    <div class="heightControls">
                        <input class="input-xxlarge" id="hight" name="height" placeholder="Height (inches)" type="text" value="" />
                    </div>
                </div>
				<br />
				<div class="ptWeight">
                    <label class="ptWeightLabel" for="Weight">Weight (pounds) </label>
                    <div class="weightControls">
                        <input class="input-xxlarge" id="weight" name="weight" placeholder="Weight (pounds)" type="text" value="" />
                    </div>
                </div>

				</div>

            </fieldset>
         </div>
		<br />

		<div class = "containerContact" > 
			<fieldset>
                <legend id="contact "> Contact Information </legend>
                <div class="ptContactInformation">
                    <label class="phoneNumber" for="PhoneNumber">Phone Number</label>
                    <div class="phoneControls">
                        <input style="width: 20%" id="phoneNum" name="ptPhone" placeholder="Phone Number" type="" value="" />
                        
                    </div>
                </div>
                <br />
                <div class="maritalStatus" id= "selectMaritalStatus"> 
                	<label class= "ptMaritalStaus" id="selectStatus" for="PtMaritalStaus"> Marital Status </label>
                	<br />
					<select class="ptMaritalForm" style="width:150px">
					    <option value="">  </option>
			            <option value="Single"> Single </option>
			            <option value="Married"> Married </option>
			            <option value="Divorced"> Divorced </option>
			            <option value="Legally separated"> Legally separated </option>
			            <option value="Widowed"> Widowed </option>
					</select>
				</div>
				<br />
				<div class="ptAddress">
                    <label class="streetAddressLabel" for="StreetAddress"> Address </label>
                    <div class="addressControls">
                        <input style="width: 20%" id="StreetAddress" name="StreetAddress" placeholder="Street Address" type="text" value="" />
                        <input style="width: 20%" id="StreetAddress2" name="StreetAddress2" placeholder="Street Address2" type="text" value="" />
                 
                    </div>
                </div>
                <br />
                <div class="ptCity">
                    
                    <div class="cityControls">
                        <input style="width: 15%" id="cityAddress" name="CityAddress" placeholder="City" type="text" value="" />
                        <label class="cityAddressLabel" for="CityAddress">City </label>
						<input style="width: 15%" id="stateAddress" name="StateAddress" placeholder="State / Province" type="text" value="" />
                        <label class="stateAddressLabel" for="StateAddress">State </label>

                        <input style="width: 15%" id="postalCode" name="postalCode" placeholder="Postal /Zip Code " type="text" value="" />
                        <label class="postalCodeLabel" for="PostalAddress">Zip Code </label>
					</div>

					<div>
						<label class="countryLabel" for="Country"> Country </label>
						<br />
						<select class="countryForm" style="width:100px">
						    <option value="">  </option>
				            <option value="United States"> United States </option>
				           
			            
						</select>
						
                    </div>
           
            </fieldset>
   -->
		<!-- </div> --> <!--cont.3>-->

	<!-- <br />
		<div class = "containerEmergency" > 
			<fieldset>
                <legend id="emergencyAddress"> Contact address in case of emergency  </legend>
                <div class="emFullName">
                    <label class="emfullNameLabel" for="FirstName">Full Name</label>
                    <div class="emergencyControls">
                        <input style="width: 20%" id="EmFirstName" name="emFirstName" placeholder="Firstname" type="text" value="" />
            
                        <input style="width: 20%" id="emlastName" name="emlastName" placeholder="Last Name" type="text" value="" />
					</div>
                </div>
              <br />
               	<div class ="emPhone">
                    
                    <div class="emControls">
                        <input style="width: 20%" id="emPhoneNum" name="emPhone" placeholder="Phone Number" type="" value="" />

                        <label class="emPhoneNum" for="emPhoneNumber">Phone Number</label>
                        <input style="width: 20%" id="emRelation" name="emRelation" placeholder="Relation" type="" value="" />
                        <label class="emContactRelation" for="EmContRelation">Relation</label>

                     </div>
                     
                </div>
            
			</fieldset> -->
		<!-- </div> --> <!--cont.4>-->
<!-- 	<br />

		<div class = "containerMed" >
			<fieldset>
                <legend id="currentMed"> Taking any medications, currently?  </legend>
             		<div class="medTaking" id= "medYesNo">
				  		<label><input type="checkbox" value="yes">Yes</label>
				  		<label><input type="checkbox" value="No">No</label>
					</div>

				</div>  -->
				 <div class="submitform" data-type="control_button" id="submit">
		            <button id="submit_form" type="submit" class="formSubmitButton">
		              Submit Form
		            </button>
		      	</div>
			</fieldset>
		</div>

</div>

  