

<form id="form_history" value="2">

<div class = "container">
	<div class = "containerHeader" > 
		<div class = "row">
			<div class = "col-xs-12 text-center" id= "contact"> 
			<h1 id= "mainHeader" > <strong> Medical History</strong></h1>
			
			</div>
		</div>
	</div> 
	<!--cont.1>-->
	
	<div class = "containerAddress" >
		<fieldset>
            <legend id="address"> Please fill in the form below </legend>
                <div class="ptFullName">
                    <label class="fullNameLabel" for="FirstName">Full Name</label>
                    <div class="controls">
                        <input style="width: 20%" id="FirstName" name="FirstName" placeholder="Firstname" type="text" value="" />
                        <input style="width: 20%" id="MiddleName" name="MiddleName" placeholder="Middlename" type="text" value="" />
                        <input style="width: 20%" id="LastName" name="LastName" placeholder="Lastname" type="text" value="" />
                    </div>
                </div>
                <br />
                <div class="ptPhoneEmail">
                	
                	<input style="width: 20%" id="emPhoneNum" name="emPhone" placeholder="Phone Number" type="" value="" />
                	<label class="emPhoneNum" for="emPhoneNumber">Phone Number</label>
     
                    <input class="input-xxlarge" id="email" name="email" placeholder="email" type="text" value="" />
                    <label class="ptEmailLabel" for="Email">Email</label>
                   
         
                </div>
		</fieldset>
	</div> 
<!--cont.2>-->
		<!-- <br />
	<div class = "containerCondition" > 
		<fieldset>
            <legend id="condition"> Check the conditions that applay to you or to any members of your immediate relatives </legend>
             	<div class = "medCase" id="ptMedHistory">
                	<span class="ptConditionInformation">
						<input type="checkbox" value="asthma"> 
						<label id="asth"> Asthma</label>
					</span>
					<br />
					<span class="ptConditionInformation">
						<input type="checkbox" value="cancer"> 
						<label id="canc"> Cancer</label>
					</span>
					<br />
					<span class="ptConditionInformation">
						<input type="checkbox" value="cardiac disease"> 
						<label id="cardiac"> Cardiac disease</label>
					</span>
					<br />
					<span class="ptConditionInformation">
						<input type="checkbox" value="diabetes"> 
						<label id="diab"> Diabetes</label>
					</span>
					<br />
					<span class="ptConditionInformation">
						<input type="checkbox" value="hypertension"> 
						<label id="hyperte"> Hypertension</label>
					</span>
					<br />
					<span class="ptConditionInformation">
						<input type="checkbox" value="psychiatric disorder"> 
						<label id="psych"> Psychiatric disorder</label>
					</span>
					<br />
					<span class="ptConditionInformation">
						<input type="checkbox" value="epilepsy"> 
						<label id="epil"> Epilepsy</label>
					</span>
					<br />
						
				</div>		          
        </fieldset> -->
<!-- 	</div> 
 -->	<!--cont.3>-->

	<!-- <br />
		<div class = "containerSymptom" > 
		<fieldset>
            <legend id="symptom"> Check the syptom that you're currently experiencing </legend>
             	<div class = "medSymp" id="ptSymp">
                	<span class="ptSyptomInformation">
						<input type="checkbox" value="chest pain"> 
						<label id="chest"> Chest Pain</label>
					</span>
					<br />
					<span class="ptSyptomInformation">
						<input type="checkbox" value="Respiratory"> 
						<label id="resp"> Respiratory</label>
					</span>
					<br />
					<span class="ptSyptomInformation">
						<input type="checkbox" value="Cardiac disease Symptom"> 
						<label id="cardiacsym"> Cardiac disease</label>
					</span>
					<br />
					<span class="ptSyptomInformation">
						<input type="checkbox" value="cardiovascular"> 
						<label id="diab"> Cardiovascular</label>
					</span>
					<br />
					<span class="ptSyptomInformation">
						<input type="checkbox" value="hematological"> 
						<label id="hema"> Hematological</label>
					</span>
					<br />
					<span class="ptSyptomInformation">
						<input type="checkbox" value="lymphatic"> 
						<label id="lymph"> Lymphatic</label>
					</span>
					<br />
					<span class="ptSyptomInformation">
						<input type="checkbox" value="neurological"> 
						<label id="neuro"> Neurological</label>
					</span>
					<br />
						
				</div>		          
        	</fieldset> -->
		<!-- </div> --> <!--cont.4>-->
		<!-- <br />
		<div class = "containerMed" >
			<fieldset>
             	<legend id="currentMed"> Taking any medications, currently?  </legend>
             		<div class="medTaking" id= "medYesNo">
				  		<label><input type="checkbox" value="yes">Yes</label>
				  		<label><input type="checkbox" value="No">No</label>
					</div>
			</fieldset> -->
		<!-- </div>  --><!--cont.5-->
		<!-- <br /> -->

		<!-- <div class = "containerMed" >
			<fieldset>
             	<legend id="currentMed"> What is your Gender?  </legend>
		 			<div class="gender" id= "selectGender"> 
	                	<label class= "ptGender" id="selectGender" for="ptGender"> Sex </label>
	                	<br />
						<select class="ptGenderForm" style="width:150px">
						    <option value="">  </option>
				            <option value="Male"> Male </option>
				            <option value="Female"> Female </option>
				            <option value="N/A"> N/A </option>
						</select>
					</div>
			</fieldset> -->
		<!-- </div> --> <!--cont.6-->
		<!-- <br />

		<div class = "containerTobacco" >
			<fieldset>
             	<legend id="tobaccotake"> Do you use or do you have history of using tobacco?  </legend>
             		<div class="tobaccoTaking" id= "tobacccoYesNo">
				  		<label><input type="checkbox" value="yestobacco">Yes</label>
				  		<label><input type="checkbox" value="Notobacco">No</label>
					</div>
			</fieldset> -->
		<!-- </div>  --><!--cont.6-->
		<!-- <br />
		<div class = "containerIllDrugs" >
			<fieldset>
             	<legend id="illegalDrugs"> Do you use or do you have history of using illegal drugs?  </legend>
             		<div class="illegalDrugTaking" id= "illDrugYesNo">
				  		<label><input type="checkbox" value="yes illegal drugs">Yes</label>
				  		<label><input type="checkbox" value="No illegal drugs">No</label>
					</div>
			</fieldset> -->
		<!-- </div>  --><!--cont.6-->
		<!-- <br />
		<div class = "containerAlcohol" >
			<fieldset>
             	<legend id="alcoholconsmp"> How often do you consume alcohol?  </legend>
             		<div class="alcoholTaking" id= "alcoholYesNo">
				  		<label><input type="checkbox" value="daily">Daily</label>
				  		<label><input type="checkbox" value="weekly">Weekly</label>
				  		<label><input type="checkbox" value="monthly">Monthly</label>
				  		<label><input type="checkbox" value="occasionally">Occasionally</label>
				  		<label><input type="checkbox" value="never">Never</label>

					</div>
			</fieldset> -->
		<!-- </div> --> <!--cont.7-->
	<!-- 	<br /> -->

<!-- 	 <div class="submitform" data-type="control_button" id="submit"> -->
		<button id="submitForm" type="submit" class="formSubmitButton"> Submit Form </button>
	<!-- </div> -->
</div> <!--cont.all>-->
</form>

<script src="js/form_medical_history.js"></script>
