<html>
    <div class="text-center">
        <h1>Patient ID {{id}}</h1>
    <ul>
        {{#each res}}
        <p><a href="/form/{{formRoute}}">{{formRoute}}</a></p>
        {{/each}}
    </ul>
    </div>
</html>

<style>
    body {
        padding-top: 40px;
        font-size: 30px;
    }
</style>