<!DOCTYPE html>
<html>
<head>
  <title>Medical History</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>


<div class = "container">

<form class="" action="" method="post" name="form_73467989284175" id="73467989284175" accept-charset="utf-8">
  <input type="hidden" name="formID" value="73467989284175" />
  <div class="form-all">
        <div class="form-header-group ">
          <div class="header-text httal htvam">
            <h2 id="header_1" class="form-header" data-component="header">
              Medical History
            </h2>
          </div>
        </div>
        <hr>

        <label class="form-label form-label-top form-label-auto" id="label_3" for="first_3">
          Full Name
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_3" class="form-input-wide jf-required">
          <div data-wrapper-react="true">
            <span class="form-sub-label-container" style="vertical-align:top;">
              <input type="text" id="first_3" name="q3_fullName3[first]" class="form-textbox validate[required]" size="10" value="" data-component="first" required="" />
              <label class="form-sub-label" for="first_3" id="sublabel_first" style="min-height:13px;"> First Name </label>
            </span>
            <span class="form-sub-label-container" style="vertical-align:top;">
              <input type="text" id="last_3" name="q3_fullName3[last]" class="form-textbox validate[required]" size="15" value="" data-component="last" required="" />
              <label class="form-sub-label" for="last_3" id="sublabel_last" style="min-height:13px;"> Last Name </label>
            </span>
          </div>
        </div>
        <br>
        <label class="form-label form-label-top form-label-auto" id="label_4" for="input_4_area">
          Phone Number
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_4" class="form-input-wide jf-required">
          <div data-wrapper-react="true">
            <span class="form-sub-label-container" style="vertical-align:top;">
              <input type="tel" id="input_4_area" name="q4_phoneNumber4[area]" class="form-textbox validate[required]" size="3" value="" data-component="areaCode" required="" />
              <span class="phone-separate">
                 -
              </span>
              <label class="form-sub-label" for="input_4_area" id="sublabel_area" style="min-height:13px;"> Area Code </label>
            </span>
            <span class="form-sub-label-container" style="vertical-align:top;">
              <input type="tel" id="input_4_phone" name="q4_phoneNumber4[phone]" class="form-textbox validate[required]" size="8" value="" data-component="phone" required="" />
              <label class="form-sub-label" for="input_4_phone" id="sublabel_phone" style="min-height:13px;"> Phone Number </label>
            </span>
          </div>
        </div>
        <hr>

      <!-- Checklist of past conditions -->      
        <label class="form-label form-label-top" id="label_5" for="input_5_0">
          Check the conditions that apply to you or to any members of your immediate relatives:
         
        </label>
        <div id="cid_5" class="form-input-wide jf-required">
          <div class="form-single-column" data-component="checkbox">
            <span class="form-checkbox-item" style="clear:left;">
              <span class="dragger-item">
              </span>
              <input type="checkbox" class="form-checkbox validate[required]" id="input_5_0" name="q5_checkThe5[]" value="Asthma" required="" />
              <label id="label_input_5_0" for="input_5_0"> Asthma </label>
            </span><br>
            <span class="form-checkbox-item" style="clear:left;">
              <span class="dragger-item">
              </span>
              <input type="checkbox" class="form-checkbox validate[required]" id="input_5_1" name="q5_checkThe5[]" value="Cancer" required="" />
              <label id="label_input_5_1" for="input_5_1"> Cancer </label>
            </span><br>
            <span class="form-checkbox-item" style="clear:left;">
              <span class="dragger-item">
              </span>
              <input type="checkbox" class="form-checkbox validate[required]" id="input_5_2" name="q5_checkThe5[]" value="Cardiac disease" required="" />
              <label id="label_input_5_2" for="input_5_2"> Cardiac disease </label>
            </span><br>
            <span class="form-checkbox-item" style="clear:left;">
              <span class="dragger-item">
              </span>
              <input type="checkbox" class="form-checkbox validate[required]" id="input_5_3" name="q5_checkThe5[]" value="Diabetes" required="" />
              <label id="label_input_5_3" for="input_5_3"> Diabetes </label>
            </span><br>
            <span class="form-checkbox-item" style="clear:left;">
              <span class="dragger-item">
              </span>
              <input type="checkbox" class="form-checkbox validate[required]" id="input_5_4" name="q5_checkThe5[]" value="Hypertension" required="" />
              <label id="label_input_5_4" for="input_5_4"> Hypertension </label>
            </span><br>
            <span class="form-checkbox-item" style="clear:left;">
              <span class="dragger-item">
              </span>
              <input type="checkbox" class="form-checkbox validate[required]" id="input_5_5" name="q5_checkThe5[]" value="Psychiatric disorder" required="" />
              <label id="label_input_5_5" for="input_5_5"> Psychiatric disorder </label>
            </span><br>
            <span class="form-checkbox-item" style="clear:left;">
              <span class="dragger-item">
              </span>
              <input type="checkbox" class="form-checkbox validate[required]" id="input_5_6" name="q5_checkThe5[]" value="Epilepsy" required="" />
              <label id="label_input_5_6" for="input_5_6"> Epilepsy </label>
            </span><br>
          </div>
        </div><hr>

      <!-- Checklist of symptoms -->
        <label class="form-label form-label-top" id="label_6" for="input_6_0">
          Check the symptoms that you're currently experiencing:
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_6" class="form-input-wide jf-required">
          <div class="form-single-column" data-component="checkbox">
            <span class="form-checkbox-item" style="clear:left;">
              <span class="dragger-item">
              </span>
              <input type="checkbox" class="form-checkbox validate[required]" id="input_6_0" name="q6_checkThe6[]" value="Chest pain" required="" />
              <label id="label_input_6_0" for="input_6_0"> Chest pain </label>
            </span><br>
            <span class="form-checkbox-item" style="clear:left;">
              <span class="dragger-item">
              </span>
              <input type="checkbox" class="form-checkbox validate[required]" id="input_6_1" name="q6_checkThe6[]" value="Respiratory" required="" />
              <label id="label_input_6_1" for="input_6_1"> Respiratory </label>
            </span><br>
            <span class="form-checkbox-item" style="clear:left;">
              <span class="dragger-item">
              </span>
              <input type="checkbox" class="form-checkbox validate[required]" id="input_6_2" name="q6_checkThe6[]" value="Cardiac disease" required="" />
              <label id="label_input_6_2" for="input_6_2"> Cardiac disease </label>
            </span><br>
            <span class="form-checkbox-item" style="clear:left;">
              <span class="dragger-item">
              </span>
              <input type="checkbox" class="form-checkbox validate[required]" id="input_6_3" name="q6_checkThe6[]" value="Cardiovascular" required="" />
              <label id="label_input_6_3" for="input_6_3"> Cardiovascular </label>
            </span><br>
            <span class="form-checkbox-item" style="clear:left;">
              <span class="dragger-item">
              </span>
              <input type="checkbox" class="form-checkbox validate[required]" id="input_6_4" name="q6_checkThe6[]" value="Hematological" required="" />
              <label id="label_input_6_4" for="input_6_4"> Hematological </label>
            </span><br>
            <span class="form-checkbox-item" style="clear:left;">
              <span class="dragger-item">
              </span>
              <input type="checkbox" class="form-checkbox validate[required]" id="input_6_5" name="q6_checkThe6[]" value="Lymphatic" required="" />
              <label id="label_input_6_5" for="input_6_5"> Lymphatic </label>
            </span><br>
            <span class="form-checkbox-item" style="clear:left;">
              <span class="dragger-item">
              </span>
              <input type="checkbox" class="form-checkbox validate[required]" id="input_6_6" name="q6_checkThe6[]" value="Neurological" required="" />
              <label id="label_input_6_6" for="input_6_6"> Neurological </label>
            </span><br>
            <span class="form-checkbox-item" style="clear:left;">
              <span class="dragger-item">
              </span>
              <input type="checkbox" class="form-checkbox validate[required]" id="input_6_7" name="q6_checkThe6[]" value="Psychiatric" required="" />
              <label id="label_input_6_7" for="input_6_7"> Psychiatric </label>
            </span><br>
            <span class="form-checkbox-item" style="clear:left;">
              <span class="dragger-item">
              </span>
              <input type="checkbox" class="form-checkbox validate[required]" id="input_6_8" name="q6_checkThe6[]" value="Gastrointestinal" required="" />
              <label id="label_input_6_8" for="input_6_8"> Gastrointestinal </label>
            </span><br>
            <span class="form-checkbox-item" style="clear:left;">
              <span class="dragger-item">
              </span>
              <input type="checkbox" class="form-checkbox validate[required]" id="input_6_9" name="q6_checkThe6[]" value="Genitourinary" required="" />
              <label id="label_input_6_9" for="input_6_9"> Genitourinary </label>
            </span><br>
            <span class="form-checkbox-item" style="clear:left;">
              <span class="dragger-item">
              </span>
              <input type="checkbox" class="form-checkbox validate[required]" id="input_6_10" name="q6_checkThe6[]" value="Weight gain" required="" />
              <label id="label_input_6_10" for="input_6_10"> Weight gain </label>
            </span><br>
            <span class="form-checkbox-item" style="clear:left;">
              <span class="dragger-item">
              </span>
              <input type="checkbox" class="form-checkbox validate[required]" id="input_6_11" name="q6_checkThe6[]" value="Weight loss" required="" />
              <label id="label_input_6_11" for="input_6_11"> Weight loss </label>
            </span><br>
            <span class="form-checkbox-item" style="clear:left;">
              <span class="dragger-item">
              </span>
              <input type="checkbox" class="form-checkbox validate[required]" id="input_6_12" name="q6_checkThe6[]" value="Musculoskeletal" required="" />
              <label id="label_input_6_12" for="input_6_12"> Musculoskeletal </label>
            </span><br>
          </div>
        </div><hr>

      <!-- Medication confirmation -->
        <label class="form-label form-label-top" id="label_7" for="input_7">
          Are you currently taking any medication?
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_7" class="form-input-wide jf-required">
          <div class="form-single-column" data-component="radio">
            <span class="form-radio-item" style="clear:left;">
              <span class="dragger-item">
              </span>
              <input type="radio" class="form-radio validate[required]" id="input_7_0" name="q7_areYou" value="Yes" required="" />
              <label id="label_input_7_0" for="input_7_0"> Yes </label>
            </span>
            <span class="form-radio-item" style="clear:left;">
              <span class="dragger-item">
              </span>
              <input type="radio" class="form-radio validate[required]" id="input_7_1" name="q7_areYou" value="No" required="" />
              <label id="label_input_7_1" for="input_7_1"> No </label>
            </span>
          </div>
        </div><hr>

      <!-- Allergy inquiry -->
        <label class="form-label form-label-top" id="label_8" for="input_8">
          Do you have any medication allergies?
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_8" class="form-input-wide jf-required">
          <div class="form-single-column" data-component="radio">
            <span class="form-radio-item" style="clear:left;">
              <span class="dragger-item">
              </span>
              <input type="radio" class="form-radio validate[required]" id="input_8_0" name="q8_doYou" value="Yes" required="" />
              <label id="label_input_8_0" for="input_8_0"> Yes </label>
            </span>
            <span class="form-radio-item" style="clear:left;">
              <span class="dragger-item">
              </span>
              <input type="radio" class="form-radio validate[required]" id="input_8_1" name="q8_doYou" value="No" required="" />
              <label id="label_input_8_1" for="input_8_1"> No </label>
            </span>
            <span class="form-radio-item" style="clear:left;">
              <span class="dragger-item">
              </span>
              <input type="radio" class="form-radio validate[required]" id="input_8_2" name="q8_doYou" value="Not Sure" required="" />
              <label id="label_input_8_2" for="input_8_2"> Not Sure </label>
            </span>
          </div>
        </div><hr>

      <!-- Gender -->
        <label class="form-label form-label-top" id="label_9" for="input_9">
          What is your Gender?
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_9" class="form-input-wide jf-required">
          <div class="form-single-column" data-component="radio">
            <span class="form-radio-item" style="clear:left;">
              <span class="dragger-item">
              </span>
              <input type="radio" class="form-radio validate[required]" id="input_9_0" name="q9_whatIs" value="Male" required="" />
              <label id="label_input_9_0" for="input_9_0"> Male </label>
            </span>
            <span class="form-radio-item" style="clear:left;">
              <span class="dragger-item">
              </span>
              <input type="radio" class="form-radio validate[required]" id="input_9_1" name="q9_whatIs" value="Female" required="" />
              <label id="label_input_9_1" for="input_9_1"> Female </label>
            </span>
          </div>
        </div><hr>

      <!-- tobacco use -->
        <label class="form-label form-label-top" id="label_10" for="input_10">
          Do you use or do you have history of using tobacco?
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_10" class="form-input-wide jf-required">
          <select class="form-dropdown validate[required]" id="input_10" name="q10_doYou10" style="width:70px;" data-component="dropdown" required="">
            <option value="">  </option>
            <option value="Yes"> Yes </option>
            <option selected="" value="No"> No </option>
          </select>
        </div><hr>

      <!-- drug use -->
        <label class="form-label form-label-top" id="label_11" for="input_11">
          Do you use or do you have history of using illegal drugs?
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_11" class="form-input-wide jf-required">
          <select class="form-dropdown validate[required]" id="input_11" name="q11_doYou11" style="width:70px;" data-component="dropdown" required="">
            <option value="">  </option>
            <option value="Yes"> Yes </option>
            <option selected="" value="No"> No </option>
          </select>
        </div><hr>

      <!-- alcohol use -->
        <label class="form-label form-label-top" id="label_12" for="input_12">
          How often do you consume alcohol?
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_12" class="form-input-wide jf-required">
          <div class="form-multiple-column" data-columncount="3" data-component="radio">
            <span class="form-radio-item">
              <span class="dragger-item">
              </span>
              <input type="radio" class="form-radio validate[required]" id="input_12_0" name="q12_howOften" value="Daily" required="" />
              <label id="label_input_12_0" for="input_12_0"> Daily </label>
            </span>
            <span class="form-radio-item">
              <span class="dragger-item">
              </span>
              <input type="radio" class="form-radio validate[required]" id="input_12_1" name="q12_howOften" value="Weekly" required="" />
              <label id="label_input_12_1" for="input_12_1"> Weekly </label>
            </span>
            <span class="form-radio-item">
              <span class="dragger-item">
              </span>
              <input type="radio" class="form-radio validate[required]" id="input_12_2" name="q12_howOften" value="Monthly" required="" />
              <label id="label_input_12_2" for="input_12_2"> Monthly </label>
            </span>
            <span class="form-radio-item" style="clear:left;">
              <span class="dragger-item">
              </span>
              <input type="radio" class="form-radio validate[required]" id="input_12_3" name="q12_howOften" value="Occasionally" required="" />
              <label id="label_input_12_3" for="input_12_3"> Occasionally </label>
            </span>
            <span class="form-radio-item">
              <span class="dragger-item">
              </span>
              <input type="radio" class="form-radio validate[required]" id="input_12_4" name="q12_howOften" value="Never" required="" />
              <label id="label_input_12_4" for="input_12_4"> Never </label>
            </span>
          </div>
        </div>

    <!-- button -->
        <div id="cid_2" class="form-input-wide">
          <div style="margin-left:156px;" class="form-buttons-wrapper">
            <button id="input_2" type="submit" class="form-submit-button" data-component="button">
              Submit
            </button>
          </div>
        </div>
     
  </div>
  
</form>
</div>
</body>
</html>
